<!-- navigation -->
<div class="border-bottom shadow-sm">
  <nav class="navbar navbar-light py-2">
    <div class="container justify-content-center justify-content-lg-between">
      <a class="navbar-brand" href="@@webRoot/index.html">
        <img
          src="@@webRoot/assets/images/logo/logo.png"
          width="200"
          alt=""
          class="d-inline-block align-text-top"
        />
      </a>

      <span class="navbar-text">
        Hesabınız var mı?
        <a href="@@webRoot/pages/signin.html">Giriş Yap</a>
      </span>
    </div>
  </nav>
</div>
